.tattoo-content-wrap {
    .reservation-info {
        position: fixed;
        background: grey;
        top: 14rem;
        right: 0.5rem;
        width: 17rem;
        padding: 1.5rem;
        height: auto;
        background: transparent;
        border: 1px solid white;
        z-index: 9999;
        color: white;

        @include laptop() {
            background: black;
        }

        .reservation-info-btn {
            display: flex;
            text-decoration: none;
            height: 3rem;
            background: white;
            color: black;
            margin-top: 0.5rem;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }
        }

        .reservation-slot {
            display: block;
            border: 1px solid white;
            margin-top: 0.4rem;
            text-align: center;

            &:hover {
                background: $text-white;
                color: $dark-black;
                cursor: pointer;
            }
        }
    }

    .tattoo-content {
        max-width: 70vw;
        margin: 0 auto;

        .tattoo-overtitle {
            color: $green;
            font-size: 1.2rem;
            display: block;
            padding-top: 3rem;
            text-align: center;
        }

        .reservation-slots-wrap {
            margin: 0 auto;
            margin-top: 3rem;
            display: flex;
            width: 360px;
            padding: 1.5rem;
            justify-content: space-between;
            align-items: center;
            background: white;

            @include mobile() {
                width: 100%;
            }

            .color-black {
                color: black;
            }

            .reservation-icon {
                width: 50px;
            }

            .time-slot-reservation {
                text-decoration: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                &:hover {
                    cursor: pointer;
                }

                .document-text {
                    font-size: 1.2rem;
                }
            }
        }

        .tattoo-title {
            color: $text-white;
            font-family: $dado-font;
            line-height: 3.5rem;
            text-align: center;
            font-size: 5rem;
            text-shadow: 0px 0px 10px $dark-black;
        }

        .tattoo-title-advice {
            color: $text-white;
            font-family: $dado-font;
            line-height: 3.5rem;
            text-align: center;
            font-size: 5rem;
            margin-top: 9rem;
            text-shadow: 0px 0px 10px $dark-black;

            @include mobile() {
                font-size: 4rem;
            }
        }

        .tattoo-text {
            margin-top: 2rem;
            text-align: center;
        }

        .process-wrap {
            margin-top: 3rem;

            .process-overtitle {
                color: $green;
                font-size: 1rem;
                display: block;
                padding-top: 3rem;
                text-align: center;
            }

            .process-title {
                color: $text-white;
                font-family: $dado-font;
                line-height: 3.2rem;
                text-align: center;
                font-size: 4rem;
                text-shadow: 0px 0px 10px $dark-black;
            }

            .process-container {
                margin-top: 2rem;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .process-single {
                    flex: 0 1 calc(33% - 1rem);
                    background: #27272778;
                    padding: 2rem;
                    position: relative;
                    border-radius: 2px;
                    text-align: center;
                    margin-top: 1rem;

                    @include laptop() {
                        flex: 0 1 calc(50% - 1rem);
                    }

                    @include mobile() {
                        flex: 0 1 100%;
                    }

                    .process-single-icon {
                        width: 100px;
                        filter: drop-shadow(0px 0px 3px $dark-black)
                            saturate(0.9);
                    }
                }
            }
        }

        .documents {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 2rem;

            .single-document {
                display: flex;
                align-items: center;
                padding: 0.9rem 1.1rem;
                justify-content: space-between;
                width: 320px;
                border: 1px solid white;
                border-radius: 4px;
                background: transparent;

                @include laptop {
                    margin-top: 0.5rem;
                }
            }
        }

        .legal-age {
            margin-top: 4rem;
        }

        .legal-age-button {
            display: flex;
            align-items: center;
            padding: 0.9rem 1.1rem;
            justify-content: space-between;
            width: 290px;
            margin: 0 auto;
            margin-top: 2.5rem;
            border: 1px solid white;
            border-radius: 4px;
            background: transparent;
        }
    }
}
