.form-content-wrap {
    position: relative;
    width: 40vw;
    margin: 0 auto;

    .contact {
        z-index: 999;
        top: -45px;
        left: 10px;
        height: 76vh;
        padding: 2rem 4rem 0rem;
        box-shadow: 0px 0px 5px $dark-black;
        background: url('/assets/images/slider1.jpg');
        background-size: cover;

        @include mobile {
            position: unset;
            width: 100%;
        }

        .contact-title {
            color: $text-white;
            font-family: $styled-text;
            line-height: 3.5rem;
            text-align: center;
            font-size: 5rem;
            text-shadow: 0px 0px 10px $dark-black;
        }

        .contact-info-wrap {
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;
            align-items: center;

            @include laptop {
                flex-direction: column;
            }

            .info {
                background: #000000c4;
                box-shadow: 0px 0px 5px $dark-black;
                padding: 0.7rem 2.5rem;
                flex: 0 1 calc(50% - 1rem);

                @include laptop {
                    width: 100%;
                    margin-top: 0.5rem;
                }

                .info-title {
                    font-size: 1.2rem;
                }
            }
        }

        .contact-form {

            .form-submit {
                display: flex;
                text-decoration: none;
                height: 3rem;
                background: white;
                color: black;
                margin-top: 0.5rem;
                align-items: center;
                justify-content: center;
            }

            .form {
                display: flex;
                margin-top: 4.5rem;
                flex-direction: column;

                .input,
                .textarea {
                    @include input();
                    margin-top: 0.2rem;
                    background: #0e0e0ec9;
                }
            }
        }
    }
}