.header {
    height: 100vh;

    .vegas-slide {
        filter: brightness(45%);
    }

    .navigation-list {
        @include center-content();
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        height: 20vh;
        color: $text-white;

        .navigation-item {
            font-size: 1.2rem;

            .navigation-item-logo {
                width: 200px;
                filter: invert(100%);
            }
        }
    }

    .cta {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .cta-heading {
            font-weight: 300;
            font-size: 5rem;
        }

        .est-wrap {
            display: flex;
            align-items: center;
        }
    }
}