// Variables
@import './helpers/variables.scss';
@import './helpers/mixins.scss';

// Pages
@import './pages/homepage/home.scss';
@import './pages/homepage/showcase.scss';
@import './pages/homepage/cta.scss';
@import './pages/homepage/artists.scss';
@import './pages/homepage/service.scss';
@import './pages/homepage/contact.scss';
@import './pages/homepage/footer.scss';

@import './pages/faq/header.scss';
@import './pages/faq/content.scss';

@import './pages/tattoo/header.scss';
@import './pages/tattoo/content.scss';

@import './pages/removal/header.scss';
@import './pages/removal/content.scss';

@import './pages/studio/header.scss';
@import './pages/studio/content.scss';

@import './pages/piercing/header.scss';
@import './pages/piercing/content.scss';

// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $regular-text;
    color: $text-white;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $dark-black;
}

#map {
    width: 100%;
    height: 65vh;
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $dark-black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $green;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #305c5c;
}