.artists-wrap {
    background-image: linear-gradient(
            to bottom,
            rgb(12 12 12),
            rgb(86 86 86 / 0%)
        ),
        url(/assets/images/artists-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .artists-content {
        max-width: 100%;
        margin: 0 auto;

        .artists-overtitle {
            color: $green;
            font-size: 1.2rem;
            display: block;
            padding-top: 5rem;
            text-align: center;
        }

        .artists-title {
            color: $text-white;
            font-family: $dado-font;
            line-height: 3.5rem;
            text-align: center;
            font-size: 5rem;
            text-shadow: 0px 0px 10px $dark-black;
        }
    }

    .artists-background {
        height: 600px;

        .artists-list {
            max-width: 60vw;
            margin: 0 auto;
            margin-top: 5rem;

            .main-carousel {
                height: 480px;

                .flicity-viewport {
                    height: 100%;
                }

                .carousel-cell {
                    width: 33%;
                    height: 200px;
                    margin-right: 10px;

                    @include mobile() {
                        width: 100%;
                    }

                    .artist-image {
                        width: 100%;
                        height: 450px;
                        background-size: cover;
                        background-position: center;
                    }

                    .ai1 {
                        background: url("/assets/images/Dado.jpg") top/cover;
                    }

                    .ai2 {
                        background: url("/assets/images/David.jpg") top/cover;
                    }

                    .ai3 {
                        background: url("/assets/images/Leo.jpg") top/cover;
                    }

                    .ai4 {
                        background: url("/assets/images/Petar.jpg") top/cover;
                    }

                    .artist-info {
                        display: none;
                    }

                    .artist-name {
                        text-align: center;
                        font-family: $dado-font;
                        text-shadow: 0px 0px 5px black;
                        color: $green;
                    }
                }

                /* position dots up a bit */
                .flickity-page-dots {
                    bottom: -22px;
                }

                /* dots are lines */
                .flickity-page-dots .dot {
                    height: 4px;
                    width: 40px;
                    margin: 0;
                    border-radius: 0;
                }
            }
        }
    }
}
