.cta-wrap {
    height: 75vh;

    .cta-content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include mobile {
            flex-direction: column;
        }

        .cta-left {
            flex: 0 1 50%;
            background: url('/assets/images/body-background.jpg');
            height: 100%;
            padding: 4rem 4rem 4rem 12rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;

            @include laptop {
                padding: 4rem;
            }


            .cta-border {
                position: absolute;
                top: 16%;
                width: 33rem;
                left: 6rem;
                filter: invert(1) opacity(0.1);
            }

            .cta-text {
                padding: 1rem 0;
            }

            .cta-left-btn {
                padding: 0.5rem 1.5rem;
                font-size: 1.3rem;
                color: white;
                background: transparent;
                border: 0.2rem solid #3e7f80;
                width: 14rem;
            }

            .cta-title {
                font-size: 4rem;
                font-family: $styled-text;
                padding: 1rem 0;
            }
        }

        .cta-right {
            flex: 0 1 50%;
            height: 100%;
            background: url('/assets/images/banner.jpg');
            background-size: cover;
            filter: grayscale(0.6);
            position: relative;

            @include mobile {
                width: 100%;
            }

            .play-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                color: white;
                opacity: 0.7;
                font-size: 4rem;
                transform: translate(-50%, -50%);
                filter: drop-shadow(0px 0 2px black);
            }
        }
    }
}